@model ProjectRunAway.Models.Extra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Extra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfTires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfTires)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkiRack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkiRack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WifiHotspot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WifiHotspot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SnowChains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SnowChains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoadsideProtection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoadsideProtection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.CarsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExtraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
