@model ProjectRunAway.Models.Features

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Features</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadtedSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadtedSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VentilatedSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VentilatedSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteeringWheelHeating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteeringWheelHeating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialOfTheSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialOfTheSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CilindricalCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CilindricalCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadLights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadLights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirtualCockpit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirtualCockpit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SunRoof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SunRoof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.CarsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeaturesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
