@model ProjectRunAway.Models.Features

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Features</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headted_seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headted_seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ventilated_seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ventilated_seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steering_wheel_heating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steering_wheel_heating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material_of_the_seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material_of_the_seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Navigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindrical_capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cilindrical_capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadLights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadLights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type_seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type_seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Virtual_cockpit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Virtual_cockpit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sunroof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sunroof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.CarsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeaturesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
