@model IEnumerable<ProjectRunAway.Models.Liability>

@{
    ViewData["Title"] = "AdminLiabilities";
}

<h1>Liabilities(Admin)</h1>

<p>
    <a asp-action="Create">Add a liability</a>
</p>
<p>
    <a asp-action="Index">Back to main page</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiabilityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceLiability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LiabilityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceLiability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.About)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarsId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LiabilityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LiabilityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LiabilityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
