@model IEnumerable<ProjectRunAway.Models.Liability>

@{
    ViewData["Title"] = "Index";
}
<<<<<<< Updated upstream

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceLiability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceLiability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LiabilityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LiabilityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LiabilityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
=======
<link rel="stylesheet" href="~/css/style_assurance.css" />
<body>
    <!--preloader-->
    <!-- Preloader will be implemented here! -->

    <!-- List of assurance section -->
    <div class="heading">
        <span><p>No stress while driving?</p></span>
        <h1>Can you try our assurance</h1>
        <p class="paragraph">Limits your financial liability for accidental damage to the rental vehicle</p>
    </div>



    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <div class="section-center">
                        <article class="menu-item">

                            <div class="item-info">
                                <header>
                                    <h3><a href="@Url.Action("", "Extra", new { carsId = item.CarsId })">@item.Category</a></h3>
                                    <h3>@item.PriceLiability $</h3>
                                </header>
                                <p class="paragraph">
                                    @item.About
                                </p>
                            </div>
        
                        </article>
                    </div>

                </tr>
            }
        </tbody>
    </table>
  


</body>
>>>>>>> Stashed changes
