@model IEnumerable<ProjectRunAway.Models.Cars>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RunAway</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <!-- styles -->
    <link rel="stylesheet" href="~/css/style_general.css" />
    <link rel="stylesheet" href="~/css/style_cars.css">
</head>
<body>
    <!--preloader-->
    <!-- Preloader will be implemented here! -->
    <nav>
        <div class="nav-center">
            <!-- nav header -->
            <div class="nav-header">
                <img src="https://www.dropbox.com/scl/fi/9v0f4t9dj02zy9sdbskro/RunAwayS.png?rlkey=vuqzo83yypktcekhgqosbmuo1&st=ci700b45&dl=1" class="logo" alt="Logo here" />
                <button class="nav-toggle">
                    <i class="fa fa-bars" style="font-size:36px"></i>
                    <!--a type for menu bar-->
                </button>
            </div>
            <!-- links -->
            <ul class="links">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Cars">Cars</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Locations">Locations</a>
                </li>
                <li>
                    <a asp-action="Login" asp-controller="Users">Log in</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="About">About us</a>
                </li>
            </ul>
            <!-- social media -->
            <ul class="social-icons">
                <li>
                    <a href="https://www.twitter.com">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <!-- List of cars section with filtering -->
    <div class="select-menu">
        <form asp-action="Index" method="get">
            <div class="select-btn">
                <span class="sBtn-text">Filter Options</span>
                <i class="bx bx-chevron-down"></i>
            </div>

            <ul class="options">
                <li class="option">
                    <input type="text" name="searchText" class="form-control" placeholder="Type make or model...">
                </li>
                <li class="option">
                    <select name="carMake" class="form-control">
                        <option value="">All Makes</option>
                        @foreach (var make in Model.Select(c => c.Manufacturer).Distinct())
                        {
                            <option value="@make">@make</option>
                        }
                    </select>
                </li>
                <li class="option">
                    <select name="carModel" class="form-control">
                        <option value="">All Models</option>
                        @foreach (var models in Model.Select(c => c.Model).Distinct())
                        {
                            <option value="@models">@models</option>
                        }
                    </select>
                </li>
                <!-- Additional Filters -->
                <li class="option"><input type="text" name="price" class="form-control" placeholder="Price..."></li>
                <li class="option"><input type="text" name="fuelType" class="form-control" placeholder="Fuel type..."></li>
                <li class="option"><input type="text" name="bodyType" class="form-control" placeholder="Body type..."></li>
                <li class="option"><input type="text" name="seatingCapacity" class="form-control" placeholder="Seating..."></li>
               
                <button type="submit" class="btn-primary">Filter</button>
            </ul>
        </form>
    </div>


    <!-- Sorting button  -->
    <div class="select-menu">
        <form asp-action="Index" method="get">
            <div class="select-btn">
                <span class="sBtn-text">Sort</span>
                <i class="bx bx-chevron-down"></i>
            </div>

            <ul class="options">
                <li class="option">
                    <input type="text" name="searchText" class="form-control" placeholder="Type make or model...">
                </li>
            
            </ul>
        </form>
    </div>
   

    <div class="section-center">
    @foreach (var item in Model)
    {
        <article class="menu-item">
                <img src="https://www.dropbox.com/scl/fi/nn242zte3oiidqutzq8sx/bmw-3-4d-black-2022.png?rlkey=qdithp98excfnujkp26e7oyo1&st=eyfvwqhp&dl=1" class="photo" alt="Image of @item.Model">
            <div class="item-info">
                <header>
                    <h3>@item.Manufacturer</h3>
                    <h3 class="year">@item.Model</h3>
                </header>
                <h4>
                    <i class="fa-solid fa-car"></i> @item.Type
                    <i class="fa-solid fa-person"></i> @item.Seats
                    <i class="fa-solid fa-gas-pump"></i> @item.Fuel
                    <i class="fa-solid fa-euro-sign"></i> @item.PriceCar
                </h4>
                    <p class="description truncate">
                    @item.Description
                </p>
                <button onclick="showCarDetails(@item.CarsId)">Show More</button>
            </div>
        </article>
    }
    </div>

    <!-- Modal Structure -->
    <div id="carDetailsModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span id="carDetails"></span>
            <button onclick="closeModal()">Close</button>
        </div>
        <div class="modal-overlay" onclick="closeModal()"></div>
    </div>

    <style>
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            align-items: center;
            justify-content: center;
        }

        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 5px;
            z-index: 1000;
        }

        .modal-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    </style>

    <script src="~/js/app_cars.js"></script>
    <script src="~/js/app_general.js"></script>
    <script src="~/js/car_details.js"></script>
</body>
</html>