@model IEnumerable<ProjectRunAway.Models.Availability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Busy_car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From_hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To_hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Busy_car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations.LocationsId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
